QDRANT_URL=http://localhost:6333
OPENAI_API_KEY="your-api-key"
ANTHROPIC_API_KEY="your-api-key"
GEMINI_API_KEY="your-api-key"
GROQ_API_KEY="your-api-key"
OPENAI_MODEL="gpt-5.1-chat-latest"
ANTHROPIC_MODEL="claude-haiku-4-5-20251001"
GEMINI_MODEL="gemini-2.5-flash"
GROQ_MODEL="llama-3.3-70b-versatile"
